.country{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: transparent;
    width: 260px;
    height:300px;
    justify-content:space-between;
    padding: 10px; 
    padding-top: 5px;
    padding-bottom: 5px; 
    
    margin-top: 20px;
    margin-bottom: 20px; 
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    /* mix-blend-mode: color-burn; */
    

}


.image{
    width: 240px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid black;
   
}

.image:hover{
    box-shadow: #000000 0px 0px 20px 0px;
    cursor: pointer;
    border-radius: 50px;
}

.name{
    display: flex;
    justify-content: center;
    font-size: 22px; 
    font-weight: bold;
    text-transform:uppercase;
    /* border:#000000 1px solid; */
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 2px;
    /* border: #000000 1px solid; */


}



.continent{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 2px;
    color: black;
    
    

}


