.country{
    display: flex;
    flex-direction:  4 column;
    margin-left: 300px;
    margin-top: 80px;
    margin-right: 0px;
    width: 1480px;
    /* justify-content:center; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* border: #be3144 2px solid; */
    
    /* background-color: transparent; */
    
}

.filtrados{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    position: fixed;
    /* justify-content: center; */
    align-items: left;
    margin-top: 57px;
    margin-left: 10px;
    padding-left: 10px;
    background-color:linear-gradient(90deg,#cdbbbb 0%, #c6bbd0 80%);
    /* border: #303841 2px solid; */
}

.divfiltrados{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
    margin-top: 85px;;
    margin-right: 15px; 
    border-radius: 12px;

}

.actividades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;
    margin-left: 16px;
    margin-top: 20px;
    

}
.buttonActivity{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363f4b;
    color: #fff;
    border: 1px solid #5a6674;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    width: 150px;
    margin-left: 0px;
    margin-bottom: 30px;
}
.buttonActivity:hover{
    color: #be3144;
    
}

.home{
    /* background-image: url('../../assets/Landing_Page.jpg'); */
    display: flex;
    
    /* width: 1800px; */
    flex-direction:  column;
    /* flex-wrap: wrap; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* border: 1px solid rgb(54, 211, 14); */
    
    
    


} 



.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 17px;
    padding: 3px 10px;
    cursor: pointer;
    margin: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #363f4b;
    background-color: #363f4b;
    
}

.select:hover{
    color: #be3144;
    border: 1px solid #be3144;
    
}